<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmk.crmdoem.mappers.CstLevelMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.hmk.crmdoem.entity.po.CstLevel">
		<!---->
		<id column="cust_level_id" property="custLevelId"  />
		<!---->
		<result column="cust_level_name" property="custLevelName"  />
		<!---->
		<result column="cust_level" property="custLevel"  />
		<!---->
		<result column="cust_amount" property="custAmount"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 cust_level_id,cust_level_name,cust_level,cust_amount
	</sql>

	<sql id="base_condition_filed">
			<if test="query.custLevelId != null">
				 and  cust_level_id = #{query.custLevelId}
			</if>
			<if test="query.custLevelName != null and query.custLevelName!=''">
				 and  cust_level_name = #{query.custLevelName}
			</if>
			<if test="query.custLevel != null">
				 and  cust_level = #{query.custLevel}
			</if>
			<if test="query.custAmount != null">
				 and  cust_amount = #{query.custAmount}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.custLevelNameFuzzy!= null  and query.custLevelNameFuzzy!=''">
				 and  cust_level_name like concat('%', #{query.custLevelNameFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM cst_level <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM cst_level <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.hmk.crmdoem.entity.po.CstLevel">
		<selectKey keyProperty="bean.custLevelId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO cst_level
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.custLevelName != null">
				 cust_level_name,
			</if>
			<if test="bean.custLevel != null">
				 cust_level,
			</if>
			<if test="bean.custAmount != null">
				 cust_amount,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.custLevelName!=null">
				 #{bean.custLevelName},
			</if>
			<if test="bean.custLevel!=null">
				 #{bean.custLevel},
			</if>
			<if test="bean.custAmount!=null">
				 #{bean.custAmount},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.hmk.crmdoem.entity.po.CstLevel">
		 INSERT INTO cst_level
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.custLevelId != null">
				 cust_level_id,
			</if>
			<if test="bean.custLevelName != null">
				 cust_level_name,
			</if>
			<if test="bean.custLevel != null">
				 cust_level,
			</if>
			<if test="bean.custAmount != null">
				 cust_amount,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.custLevelId!=null">
				 #{bean.custLevelId},
			</if>
			<if test="bean.custLevelName!=null">
				 #{bean.custLevelName},
			</if>
			<if test="bean.custLevel!=null">
				 #{bean.custLevel},
			</if>
			<if test="bean.custAmount!=null">
				 #{bean.custAmount},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.custLevelName!=null">
				 cust_level_name = VALUES(cust_level_name),
			</if>
			<if test="bean.custLevel!=null">
				 cust_level = VALUES(cust_level),
			</if>
			<if test="bean.custAmount!=null">
				 cust_amount = VALUES(cust_amount),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.hmk.crmdoem.entity.po.CstLevel" useGeneratedKeys="true" keyProperty="custLevelId">
		 INSERT INTO cst_level(
			 cust_level_name,
			 cust_level,
			 cust_amount
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.custLevelName},
				 #{item.custLevel},
				 #{item.custAmount}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.hmk.crmdoem.entity.po.CstLevel">
		 INSERT INTO cst_level(
			 cust_level_name,
			 cust_level,
			 cust_amount
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.custLevelName},
				 #{item.custLevel},
				 #{item.custAmount}
			 )
		 </foreach>
			on DUPLICATE key update 
			cust_level_name = VALUES(cust_level_name),
			cust_level = VALUES(cust_level),
			cust_amount = VALUES(cust_amount)
	</insert>

	<!-- 根据CustLevelId修改-->
	<update id="updateByCustLevelId" parameterType="com.hmk.crmdoem.entity.po.CstLevel">
		 UPDATE cst_level
 		 <set> 
			<if test="bean.custLevelName != null">
				 cust_level_name = #{bean.custLevelName},
			</if>
			<if test="bean.custLevel != null">
				 cust_level = #{bean.custLevel},
			</if>
			<if test="bean.custAmount != null">
				 cust_amount = #{bean.custAmount},
			</if>
 		 </set>
 		 where cust_level_id=#{custLevelId}
	</update>

	<!-- 根据CustLevelId删除-->
	<delete id="deleteByCustLevelId">
		delete from cst_level where cust_level_id=#{custLevelId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByCustLevelId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from cst_level where cust_level_id=#{custLevelId}
	</select>

	<select id="selectAll" resultMap="base_result_map">
		select * from cst_level
	</select>
</mapper>