<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hmk.crmdoem.mappers.SysSetupMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.hmk.crmdoem.entity.po.SysSetup">
		<!---->
		<id column="id" property="id"  />
		<!---->
		<result column="rotation" property="rotation"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 id,rotation
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null">
				 and  id = #{query.id}
			</if>
			<if test="query.rotation != null and query.rotation!=''">
				 and  rotation = #{query.rotation}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.rotationFuzzy!= null  and query.rotationFuzzy!=''">
				 and  rotation like concat('%', #{query.rotationFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM sys_setup <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM sys_setup <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.hmk.crmdoem.entity.po.SysSetup">
		<selectKey keyProperty="bean.id" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO sys_setup
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.rotation != null">
				 rotation,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.rotation!=null">
				 #{bean.rotation},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.hmk.crmdoem.entity.po.SysSetup">
		 INSERT INTO sys_setup
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.rotation != null">
				 rotation,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.rotation!=null">
				 #{bean.rotation},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.rotation!=null">
				 rotation = VALUES(rotation),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.hmk.crmdoem.entity.po.SysSetup" useGeneratedKeys="true" keyProperty="id">
		 INSERT INTO sys_setup(
			 rotation
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.rotation}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.hmk.crmdoem.entity.po.SysSetup">
		 INSERT INTO sys_setup(
			 rotation
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.rotation}
			 )
		 </foreach>
			on DUPLICATE key update 
			rotation = VALUES(rotation)
	</insert>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.hmk.crmdoem.entity.po.SysSetup">
		 UPDATE sys_setup
 		 <set> 
			<if test="bean.rotation != null">
				 rotation = #{bean.rotation},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from sys_setup where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from sys_setup where id=#{id}
	</select>

</mapper>